---
layout: layout.liquid
---
<div class="content">
  <h1>Did Elspeth make it to work on time?</h1>

  <div class="split">
    <h2>Current streak: {{ sheet | currentStreak }}</h2>
    <h2>Overall: {{ sheet | yesPercentage }}%</h2>
    <h2>Best streak: {{ sheet | bestStreak }}</h2>
  </div>

  {% assign currentStreak = sheet | currentStreak %}
  {% assign currentTier = currentStreak | currentTier ) %}
  {% assign nextTier = currentStreak | nextTier %}
  {% assign currentTierProgress = currentStreak | minus: currentTier.threshold %}
  {% assign currentTierTotal = nextTier.threshold | minus: currentTier.threshold %}

  <div class="progress" style="--progress-foreground: {{ currentTier.foregroundColor }}; --progress-background: {{ currentTier.backgroundColor }}" >
    <div class="progress__bar" style="width: {{ currentTierProgress | divided_by: currentTierTotal | times: 100 }}%"></div>
    Progress towards next tier: {{ sheet | currentStreak }} / {{ nextTier.threshold }}
  </div>

  <div class="calendar">
    {% for record in sheet reversed %}
      <div class="day day--{{ record.state }} day--{{ record.date | weekday }}" style="--appear-delay: {{ forloop.index0 | divided_by: 5 | floor | divided_by: 6 }}s;">
        {% assign nextImage = record | chooseImage: states %}

        {% if nextImage %}
          <img class="day__icon" src="{{ nextImage.image }}" alt="{{ nextImage.alt }}" title="{{ nextImage.title }}" />

          {{ record.date | cuteDate }}
        {% endif %}
      </div>
    {% endfor %}
  </div>
</div>

<footer>
  <section>
    Made with
    <span class="heart">♥</span>
    by
    <a href="https://twitter.com/chron9">Paul</a>
  </section>

  <section>
    Follow
    <a href="https://twitter.com/elspethontime">@elspethontime</a>
    for live updates!
  </section>
</footer>
