---
layout: layout.liquid
---
<div class="content">
  <h1>Did Elspeth make it to work on time?</h1>

  <div class="split">
    <h2>Current streak: {{ sheet | currentStreak }}</h2>
    <h2>Overall: {{ sheet | yesPercentage }}%</h2>
    <h2>Best streak: {{ sheet | bestStreak }}</h2>
  </div>

  <div class="progress">
    <div class="progress__bar" style="width: {{ sheet | currentStreak | times: 10 }}%"></div>
    Progress towards next tier: {{ sheet | currentStreak }} / 10
  </div>

  <div class="calendar">
    {% for record in sheet %}
      <div class="day day--{{ record.state }}" style="--appear-delay: {{ forloop.index0 | divided_by: 12 }}s;">
        {% if record.state == 'yes' %}
          <img class="day__icon" src="/trophy.svg" alt="Trophy icon" title="She made it!" />
        {% elsif record.state == 'no' %}
          <img class="day__icon" src="/skull.svg" alt="Skull icon" title="She didn't make it." />
        {% elsif record.state == 'wfh' %}
          <img class="day__icon" src="/house.svg" alt="House icon" title="She worked from home this day." />
        {% elsif record.state == 'unknown' %}
          <img class="day__icon" src="/question-square.svg" alt="Question mark inside a square" title="Who knows???" />
        {% endif %}
        {% if record.state != 'ghost' %}
          {{ record.date | cuteDate }}
        {% endif %}
      </div>
    {% endfor %}
  </div>
</div>

<footer>
  <section>
    Made with
    <span class="heart">♥</span>
    by
    <a href="https://twitter.com/chron9">Paul</a>
  </section>

  <section>
    Follow
    <a href="https://twitter.com/elspethontime">@elspethontime</a>
    for live updates!
  </section>
</footer>
